/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    height: 50px;
    background-color: #FD6E0A;
    border: none;
    font-size:18px;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 10px;
}

.section-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 700;
    
}
.section-des{
    font-weight: 400;
    text-align: center;
}

/* nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-title{
    font-size: 45px;
    font-weight: 800px;
}
nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* header related style */
.main-header{
    background-image: url('/imgs/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 30px 0px 150px;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greating{
    font-size: 45px;
    color:#474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 84px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-des{
    width: 540px;
}

/* main section styles */
main{
    margin: 0 auto;
    max-width: 1140px;
}

/* about section style */
.about{
    padding: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 20px;
    margin: 130px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-evenly;

}
.about-info{
    text-align: center;
    line-height: 10px;
}
.info-title{
    font-weight: 400;
}
.info-description{
    font-weight: 700;
}
.what-id-do-des{
    padding: 30px 150px;
}
/* skill related style */

.skill-container{
    display: flex;
}
.skill{
    border: 3px solid red;
    padding: 30px;
    margin-right: 5px;
}

/* resume section style */
.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}
.resome-container{
    display: flex;
    gap: 50px;
}
.resume-item-institute, .resume-item-des{
    color: #757575;
}
.resome-container hr{
    margin: 30px;
}
.resume-items-title{
    margin-bottom: 10px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-des{
    text-align: justify;
}
.donwload-cv{
    text-align: center;
}

/* footer style */

footer{
    display: flex;
    background-color: #fff8f3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}
.footer-column{
    width: 50%;
    
}
.social-links{
    margin-right: 25px;
}
.contact input[type="text"], .contact input[type="email"],
textarea{
    color: #757575;
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #FFF;
    border: none;
    width: 100%;
}
