/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    height: 50px;
    background-color: #FD6E0A;
    border: none;
    font-size:18px;
    color: white;
    padding: 10px 20px;
    font-weight: 800;
    border-radius: 10px;
}

.section-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 700;
}
.section-des{
    font-weight: 400;
    text-align: center;
}

/* nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-title{
    font-size: 45px;
    font-weight: 800px;
}
nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* header related style */
.main-header{
    background-image: url('/imgs/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 30px 0px 150px;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greating{
    font-size: 45px;
    color:#474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 84px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-des{
    width: 540px;
}

/* main section styles */


/* about section style */
.about{
    margin: 130px 7px;
}